#root {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #eef3f8;
  color: #071333;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.app-container {
  min-height: 100vh;
  background-color: #eef3f8;
}

.page-container {
  width: 100%;
  padding: 24px 40px;
}